/* Mixins */
// Mixins for media queries!
@mixin small-screens() {
  // Content passing is used extensively in responsive media query mixins
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin medium-screens() {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

@mixin google-font($font) {
  $font: unquote($font);
  // CSS imports can be interpolated using the #{} syntax
  @import url(https://fonts.googleapis.com/css?family=#{$font})
}

@mixin warning {
  background-color: orange;
  color: #fff;

  &:hover {
    background-color: lighten(orange, 20%);
  }
}

/* Variable arguments can be added using '...' */
@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
}

// Content directive adds attributes after * html
// * html is just the example for this IE6 
// this is called "content passing"
@mixin apply-to-ie-6 {
  * html {
    @content;
  }
}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}

@mixin flex {
  display: flex;
}

/* Default value is added with ": {value}" */
@mixin rounded($radius: 6px) {
  border-radius: $radius;
}

/* 
 * Default values must be referenced explicitly
 * if you wanted to use box(default radius, custom border)
 * you would do so by adding box($border: {values};
*/
@mixin box($radius, $border: 1px solid black) {
  /* Mixins within mixins! */
  @include rounded($radius);
  border: $border;
}

@mixin fancy-links {
  a {
    font-style: italic;
    text-decoration: none;
  }
}